<script>
    var emptyCard = document.getElementById("emptyCard");
    var addMemberCard = document.getElementById("addMemberCard");
    var addMemberCardSmall = document.getElementById("addMemberCardSmall");
    var editProfileCard = document.getElementById("editProfileCard");
    function toggleOpen(id) {

        if (id == "addMemberButton") {
            // document.getElementById("cancel-edit").click()
            emptyCard.style.display = 'none';
            addMemberCard.style.display = 'block';
            addMemberCardSmall.style.display = 'block';
            editProfileCard.style.display = 'none';
        }
        if(id == "cancel-edit") {
            emptyCard.style.display = 'flex';
            addMemberCard.style.display = 'none';
            addMemberCardSmall.style.display = 'none';
            editProfileCard.style.display = 'none';
        }
        
        if (id == "deleteButton") {
            document.getElementById("modalBackground").style.display = 'block';
        }
        if (id == "modalCancel") {
            document.getElementById("modalBackground").style.display = 'none';
            console.log(id)
        }
        if (id == "cancel-edit-mobile") {
            window.location.reload()
        }
    }
    
    //remove member part
    var remId = '';
    function removeMember(id){
        // console.log(id)
        remId = id;
        document.getElementById("modalBackground").style.display = 'block';
    }
    document.getElementById('modalCancelConfirmDelete').addEventListener('click',function deletemember(){
        $.ajax({
            type: "POST",
            data: {
                'id':remId ,
            },
            url: `{% url 'remove-member'%}` ,

            headers: {
                "X-CSRFTOKEN": "{{ csrf_token }}"
            },
            success:(data)=>{
                notifySuccess('SUCCESS','Member removed successfully')
                window.location.reload();
            }
        })
    })
    //Team Member edit part
    function editmember(editid,name,email,phone,gender){
        emptyCard.style.display = 'none';
        addMemberCard.style.display = 'none';
        editProfileCard.style.display = 'block';
        document.getElementById('editid').value=editid
        document.getElementById('editname').value=name
        document.getElementById('editemail').value=email
        document.getElementById('editphone').value=phone
        document.getElementById('editgender').value=gender
    }
    //Team Member edit part mobile
    // function editmember(editid,name,email,phone,gender){
    //     document.getElementById('editid__mobile').value=editid
    //     document.getElementById('editname__mobile').value=name
    //     document.getElementById('editemail__mobile').value=email
    //     document.getElementById('editphone__mobile').value=phone
    //     document.getElementById('editgender__mobile').value=gender
    // }
    //edit form submission
    document.getElementById('editform').addEventListener('submit',function editformsubmit(editid){
        event.preventDefault()
        $.ajax({
            type: "POST",
            data: {
                'id':document.getElementById('editid').value,
                'name':document.getElementById('editname').value,
                'email':document.getElementById('editemail').value,
                'phone':document.getElementById('editphone').value,
                'gender': document.getElementById('editgender').value
            },
            url: `{% url 'update-member' %}`,

            headers: {
                "X-CSRFTOKEN": "{{ csrf_token }}"
            },
            success:(data)=>{
                if(data=='OK')
                notifySuccess('SUCCESS','Member updated successfully')
                else
                notifyError('ERROR',data)
                window.location.reload();
            }
        })
    })

    function phoneditform(id){
        event.preventDefault()
        $.ajax({
            type: "POST",
            data: {
                'id':document.getElementById(`editid__mobile${id}`).value,
                'name':document.getElementById(`editname__mobile${id}`).value,
                'email':document.getElementById(`editemail__mobile${id}`).value,
                'phone':document.getElementById(`editphone__mobile${id}`).value,
                'gender': document.getElementById(`editgender__mobile${id}`).value
            },
            url: `{% url 'update-member' %}`,

            headers: {
                "X-CSRFTOKEN": "{{ csrf_token }}"
            },
            success:(data)=>{
                if(data!=='OK')
                notifySuccess('SUCCESS','Member updated successfully')
                else
                notifyError('ERROR',data)
                window.location.reload();
            }
        })
    }
    //add form submission
    document.getElementById('addform').addEventListener('submit',function addformsubmit(editid){
        event.preventDefault()
        $.ajax({
            type: "POST",
            data: {
                'name':document.getElementById('addname').value,
                'email':document.getElementById('addemail').value,
                'phone':document.getElementById('addphone').value,
                'gender': document.getElementById('addgender').value
            },
            url: `{% url 'add-member' %}`,

            headers: {
                "X-CSRFTOKEN": "{{ csrf_token }}"
            },
            success:(data)=>{
                if(data=="OK")
                notifySuccess('SUCCESS','Member added successfully')
                else
                notifyError('ERROR',data)
                window.location.reload();
            }
        })
    })
    //add gorm for mobile
    document.getElementById('addform__mobile').addEventListener('submit',function addformsubmitmobile(editid){
        event.preventDefault()
        $.ajax({
            type: "POST",
            data: {
                'name':document.getElementById('addname__mobile').value,
                'email':document.getElementById('addemail__mobile').value,
                'phone':document.getElementById('addphone__mobile').value,
                'gender': document.getElementById('addgender__mobile').value
            },
            url: `{% url 'add-member' %}`,

            headers: {
                "X-CSRFTOKEN": "{{ csrf_token }}"
            },
            success:(data)=>{
                if(data=="OK")
                notifySuccess('SUCCESS','Member added successfully')
                else
                notifyError('ERROR',data)
                window.location.reload();
            }
        })
    })


    // window.onload = function() {
    //     toggleOpen('addMemberButton')
    // };
</script>