{% extends '../basictailwind.html'%}
{% load static %}
{%block title%}Teams | Alcheringa {%endblock%}

{%block body%}
<div class="bg-blue-50">
    <style>
        .orcolor {
            background-color: #EE6337;
        }

        .competitions-list {
            height: 90%;
        }

        .competitions-list::-webkit-scrollbar {
            width: 0.5vw;
        }

        .competitions-list::-webkit-scrollbar-thumb {
            background-color: rgb(226 232 240);
            border-radius: 3px;
        }

        .competitions-list::-webkit-scrollbar-track {
            background-color: white;
            margin-block: 1em;
        }

        .competitions-list::-webkit-scrollbar-thumb:hover {
            background-color: #C2CFE0;
        }

        .profile {
            width: 23.4%;
        }

        .content {
            width: 76.6%;
        }

        .dot {
            height: 4px;
            width: 4px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }

        .changecoloritem {
            background-color: #EE6337;
        }

        .changecolor1 {
            background-color: #C2CFE0;
        }

        @media (max-width: 768px) {
            .hideitems {
                display: none;
            }

            .moduleslist {
                display: none;
            }
        }

        @media (min-width: 768px) {
            .showitems {
                display: inline-block;
            }

            .competition-image {
                width: 31%;
                height: 100%;
            }
        }
    </style>
    </head>

    <body>
        <div class="md:flex md:flex-row sm:flex-col">
            {% include 'navbar.html' %}

            <span class="content bg-slate-100 h-screen">
                <span class="flex flex-row items-end h-10 mt-3 mb-3">
                    <div class="mt-10">
                        <img src="{% static 'images/competition/avatar.png' %}" alt=""
                            class="ml-3 rounded-full border-4 border-orange-500 md:hidden">
                    </div>
                    <span
                        class="competition-title font-poppins inline w-11/12 align-middle md:pl-5 font-bold text-2xl sm:justify-center sm:text-center">
                        <p class="text-center pl-5 md:text-left md:pl-0"> Competitions</p>
                    </span>
                    <div class="notification-icon w-1/12 mr-5">
                        <button>
                            <img src="{% static 'images/competition/notifications.png' %}" alt="Notification icon"
                                class="object-right">
                        </button>
                    </div>
                </span>
                <div class="md:m-5 bg-inherit flex md:flex-row md:h-5/6 flex-col">
                    <div class="m-0 p-0 md:rounded-md bg-white md:w-1/3 h-full inline overflow-auto">
                        <div>
                            <p class="pl-5 pt-3 font-medium hideitems">Modules</p>
                        </div>
                        <div class="mb-0 text-white mb-3 h-10 orcolor flex align-middle moduleslist changecoloritem md:hidden justify-between"
                            id="headmob">
                            <img src="{% static 'images/competition/dance.png' %}" alt="dance" class="h-4/6 m-1">
                            <span class="inline align-middle mt-2 pl-4 tracking-wide align-middle"
                                id="headspan">Dance</span>
                            <button onclick="dropdown(); inversion('arrow');">
                                <img src="{% static 'images/competition/dropdownbtn.png' %}" alt="drowdown"
                                    class="h-2/6 m-3 mr-4" id="arrow">
                            </button>

                        </div>
                        <div class="flex flex-col flex-nowrap overflow-auto competitions-list mydropdown">
                            <a href="?module=Dance" class="hideitems moduleitems" id="qwerty"
                                onclick="mobchange('item9'); changecolor('item9')">
                                <div class="h-10 orcolor text-white m-3 mt-3 rounded-md flex align-middle moduleslist changecoloritem"
                                    id="item9">
                                    <img src="{%  static 'images/competition/dance.png' %}" alt="dance"
                                        class="h-4/6 m-1">
                                    <span class="inline align-middle mt-2 pl-4 tracking-wide align-middle">Dance</span>
                                </div>
                            </a>
                            <a href="?module=Music" class="hideitems moduleitems"
                                onclick="mobchange('item10'); changecolor('item10')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item10">
                                    <img src="{%  static 'images/competition/music.png' %}" alt="dance"
                                        class="h-4/6 ml-3 m-2">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Music</span>
                                </div>
                            </a>
                            <a href="?module=Stagecraft" class="hideitems moduleitems"
                                onclick="mobchange('item1'); changecolor('item1')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item1">
                                    <img src="{% static 'images/competition/stagecraft.png' %}" alt="dance"
                                        class="h-4/6 m-3">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Stagecraft</span>
                                </div>
                            </a>
                            <a class="hideitems moduleitems" onclick="mobchange('item2'); changecolor('item2')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item2">
                                    <img src="{% static 'images/competition/voguenation.png' %}" alt="dance"
                                        class="h-4/6 m-3">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Vogue Nation</span>
                                </div>
                            </a>
                            <a href="?module=Class Appart" class="hideitems moduleitems"
                                onclick="mobchange('item3'); changecolor('item3')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item3">
                                    <img src="{% static 'images/competition/classapart.png' %}" alt="dance"
                                        class="h-4/6 m-3">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Class Apart</span>
                                </div>
                            </a>
                            <a class="hideitems moduleitems" onclick="mobchange('item4'); changecolor('item4')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item4">
                                    <img src="{% static 'images/competition/classapart.png' %}" alt="dance"
                                        class="h-4/6 m-3">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Art Talkies</span>
                                </div>
                            </a>
                            <a class="hideitems moduleitems" onclick="mobchange('item5'); changecolor('item5')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item5">
                                    <img src="{% static 'images/competition/literaray.png' %}" alt="dance"
                                        class="h-4/6 m-3">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Literary</span>
                                </div>
                            </a>
                            <a class="hideitems moduleitems" onclick="mobchange('item6'); changecolor('item6')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item6">
                                    <img src="{% static 'images/competition/digital.png' %}" alt="dance"
                                        class="h-4/6 m-3">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Digital
                                        Dexterity</span>
                                </div>
                            </a>
                            <a class="hideitems moduleitems" onclick="mobchange('item7'); changecolor('item7')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item7">
                                    <img src="{% static 'images/competition/lightscamact.png' %}" alt="dance"
                                        class="h-4/6 m-3">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Lights Camera
                                        Action</span>
                                </div>
                            </a>
                            <a class="hideitems moduleitems" onclick="mobchange('item8'); changecolor('item8')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle moduleslist"
                                    id="item8">
                                    <img src="{% static 'images/competition/informal.png' %}" alt="dance"
                                        class="h-4/6 m-3">
                                    <span class="inline-block align-middle mt-2 pl-4 tracking-wide">Informals</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="m-0 pr-3 rounded-md bg-white md:w-2/3 h-full inline ml-3 sm:w-full">
                        <div class="justify-between flex">
                            <p class="pl-5 pt-3 font-medium inline-block" id="mod">{{modulename}}</p>
                            <span class="pt-3 inline-block mr-4 text-sm">Module Bounty: 200</span>
                        </div>
                        <div class="competitions-list overflow-auto w-full">
                            {% for comp in allcomp %}
                            <div class="item bg-slate-100 rounded-md m-2 overflow-hidden md:h-40 h-auto">
                                <!-- <div class="inline-block overflow-hidden md:h-full sm:h-44 inline-block w-full md:w-auto"> -->
                                <img src="{{ comp.image.url }}" alt="" class="competition-image sm:h-44 inline-block">
                                <!-- </div> -->
                                <div class="inline-block align-top mt-2 pl-3">
                                    <p class="inline">{{ comp.event_name }} <br></p>
                                    <p class="text-xs text-zinc-500 inline">Group Dance &nbsp; <span class="dot"></span>
                                        &nbsp; </p>
                                    <span class="text-xs text-zinc-500 text-amber-600 font-medium">View Rules</span>
                                    <div class="mt-4 mb-4">
                                        {%if comp.min_members == 1 and comp.max_members == 1 %}
                                        <i class="fa fa-user" aria-hidden="true"></i> Single
                                        {%else%}
                                        <i class="fa fa-users" aria-hidden="true"></i> Group
                                        {{comp.min_members}}-{{comp.max_members}} members
                                        {%endif%}
                                        &#xb7;
                                        <i class="fas fa-map-marker-alt" aria-hidden="true"
                                            style="color:green;"></i><span style="text-gray-600">
                                            {{comp.location}}</span>
                                    </div>
                                    <div>
                                        <span>
                                            <p class="text-xs text-zinc-500 inline">Total prizes worth</p>
                                            <p>₹ {{ comp.prize_worth }}</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="sm:pb-3 inline-block">
                                    <a href="{% url 'registercomp' slug=comp.id %}"><button
                                        class="orcolor text-white md:ml-5 pt-1 pb-1 pl-4 pr-4 rounded-md font-medium">Register</button></a>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                </div>
            </span>
        </div>


        <!-- js code -->
        <script>
            var item = 'item9';
            var heads = "headspan";
            var arrid = "arrow";
            var m = "mod";

            function inversion(id) {
                // console.log($("#" + id).attr("src", "arrow-inverted.png' %}"));
                if ($("#" + id).attr("src") == "dropdownbtn.png' %}") {
                    $("#" + id).attr("src", "arrow-inverted.png' %}");
                } else {
                    $("#" + id).attr("src", "dropdownbtn.png' %}");
                }
            }
            function mobchange(id) {
                if ($(window).width() < 768) {
                    var txt = $("#" + id).find("span").text();
                    $("#" + heads).text(txt);
                    console.log(txt);
                }
            }
            function changecolor(id) {
                $("#" + item).css("background-color", "rgb(241 245 249)");
                $("#" + item).css("color", "black");
                // $("#" + mod).text("hello");
                var txt = $("#" + id).find("span").text();
                $("#" + m).text(txt);
                console.log('clicked');
                $("#" + id).css("background-color", "#EE6337");
                $("#" + id).css("color", "white");
                item = id;
                $("#" + arrid).attr("src", "dropdownbtn.png' %}");
                if ($(window).width() < 768) {
                    $('.moduleitems').css('display', 'none');
                }
                // $('.moduleitems').css('display','none');
            }

            var element = 'Dance';
            var competitionslist = ['Dance', 'Music', 'Stagecraft', 'Vogue Nation', 'Class Apart', 'Art talkies', 'Literary', 'Digital Dexterity', 'Lights Camera Action', 'Informals']
            function dropdown() {
                if ($(window).width() > 768) {
                    $('.moduleitems').css('display', 'inline-block');
                } else if (($('.moduleitems').css("display") == "none") && ($(window).width() < 768)) {
                    $('.moduleitems').css('display', 'inline-block');
                } else if (($('.moduleitems').css("display") != "none") && ($(window).width() < 768)) {
                    $('.moduleitems').css('display', 'none');
                } else {
                    $('.moduleitems').css('display', 'none');
                }

            }
        </script>
    </body>

    </html>
    {% endblock %}