{% extends '../basictailwind.html'%}
{% load static %}
{%block title%}Teams | Alcheringa {%endblock%}

{%block body%}
<div class="bg-blue-50">
    {% include 'navbar.html' %}
    

   
    <div class="grid grid-flow-col">
        <div class="w-80 bg-white h-screen hidden md:block"></div>

        <!-- put content here -->
        <div>
            <div class="m-3 font-medium text-2xl">Competitions</div>
            {% for comp in allcomp %}
            <div class="">
                <img src="{{ comp.image.url }}" alt="image" border="0" class="">
                <center>
                    <div class=" py-3 px-4 font-medium" style="word-wrap: break-word;">
                        {{ comp.event_name }}
                        MAx member {{comp.max_members}}
                        Min member {{comp.min_members}}
                    </div>
                </center>
            
                <a href="{% url 'registercomp' slug=comp.id %}" target='_blank'>Register</a>
                <hr />
            </div>
            {% endfor%}
        </div>
    </div>
    
  
{% endblock %}
