{% extends '../basictailwind.html'%}
{% load static %}
{%block title%}Competitions | Alcheringa {%endblock%}

{%block body%}
<div style="background-color: #F3F6F8;">
    <style>
        .orcolor {
            background-color: #EE6337;
        }

        .competitions-list {
            height: 90%;
        }

        .competitions-list::-webkit-scrollbar {
            width: 0.5vw;
        }

        .competitions-list::-webkit-scrollbar-thumb {
            background-color: rgb(226 232 240);
            border-radius: 3px;
        }

        .competitions-list::-webkit-scrollbar-track {
            background-color: white;
            margin-block: 1em;
        }

        .competitions-list::-webkit-scrollbar-thumb:hover {
            background-color: #C2CFE0;
        }

        .profile {
            width: 23.4%;
        }

        .content {
            width: 76.6%;
        }

        .dot {
            height: 4px;
            width: 4px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }

        .changecoloritem {
            background-color: #EE6337;
        }

        .changecolor1 {
            background-color: #C2CFE0;
        }

        @media (max-width: 768px) {
            .hideitems {
                display: none;
            }

            .moduleslist {
                display: inline-block;
            }
        }

        @media (min-width: 768px) {
            .showitems {
                display: inline-block;
            }

            .competition-image {
                width: 31%;
                height: 100%;
            }
        }
    </style>
    </head>

    <body>
        <div class="md:flex md:flex-row sm:flex-col">
            {% include 'navbar.html' %}

            <span class="content bg-slate-100 h-screen">
                <span class="flex flex-row items-end h-10 mt-3 mb-3">
                    <span
                        class="competition-title font-poppins inline w-11/12 align-middle md:pl-5 font-bold text-2xl sm:justify-center sm:text-center">
                        <p class="text-center pl-5 md:text-left md:pl-0"> Competitions</p>
                    </span>
                    <!-- <div class="notification-icon w-1/12 mr-5">
                        <button>
                            <img src="{% static 'icons/notifications.png' %}" alt="Notification icon"
                                class="object-right">
                        </button>
                    </div> -->
                </span>
                <div class="md:m-5 bg-inherit flex md:flex-row md:h-5/6 flex-col">
                    <div class="m-0 p-0 md:rounded-md bg-white md:w-1/3 h-full inline overflow-auto shadow-md">
                        <div>
                            <p class="pl-5 pt-3 font-medium hideitems">Modules</p>
                        </div>

                        <div class="mb-0 text-white mb-3 h-10 orcolor flex align-middle changecoloritem md:hidden justify-between"
                            id="headmob">
                            <img src="{% static 'icons/dance.png' %}" alt="dance" class="h-4/6 m-1">
                            <span class="inline align-middle mt-2 pl-4 tracking-wide align-middle"
                                id="headspan">Dance</span>
                            <button onclick="dropdown(); inversion('arrow');">
                                <img src="{% static 'icons/dropdownbtn.png' %}" alt="drowdown"
                                    class="h-2/6 m-3 mr-4" id="arrow">
                            </button>
                        </div>
                        <div class="flex flex-col flex-nowrap overflow-auto competitions-list mydropdown">
                            {% for module in allmod %}
                            <a href="?module={{module.module_query_name_without_spaces_all_small}}" class="hideitems moduleitems"
                                onclick="mobchange('{{module.module_query_name_without_spaces_all_small}}'); changecolor('{{module.module_query_name_without_spaces_all_small}}')">
                                <div class="h-10 bg-slate-100 m-3 mt-0 rounded-md flex align-middle"
                                    id="{{module.module_query_name_without_spaces_all_small}}">
                                    <img src="{{module.module_icon.url}}" alt="dance"
                                        class="h-4/6 ml-3 m-2">
                                    <span class="inline-block align-middle mt-2 tracking-wide">{{module.module}}</span>
                                </div>
                            </a>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="m-0 pr-3 rounded-md bg-white md:w-2/3 h-full inline ml-3 sm:w-full shadow-md">
                        <div class="justify-between flex hideitems">
                            <p class="pl-5 pt-3 font-medium inline-block" id="mod">{{modulename}}</p>
                            <span class="pt-3 inline-block mr-4 text-sm">Module Bounty: 200</span>
                        </div>
                        <div class="competitions-list overflow-auto w-full">
                            {% for comp in allcomp %}
                            
                            <div class="flex flex-col justify-center">
                                <div class="relative bg-gray-100 rounded-xl shadow-md my-2 ml-2 flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 lg:pr-3 max-w-xs md:max-w-3xl">
                                    <div class="w-full md:w-1/3 bg-white grid place-items-center">
                                        <img src="{{comp.image.url}}" class="lg:rounded-l-xl w-full h-full" />
                                    </div>
                                    <div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3  bg-gray-100 rounded-md ">
                                        
                                        <h3 class="font-medium md:text-xl text-xl" style="font-weight: 700;">{{comp.event_name}}</h3>
                                        <p class="md:text-sm text-gray-500 text-base">{{comp.module}} &#xb7; <span style="color: #EE6337;text-decoration:none;"><a href="{% url 'viewrules' slug=comp.id %}" target="_blank"><span class="md:text-sm text-zinc-500 text-amber-600 font-medium">
                                                View Rules
                                            </span>
                                        </a></span></p>
                                        <p class="md:text-sm text-gray-500 text-base">
                                            {%if comp.min_members == 1 and comp.max_members == 1 %}
                                            <i class="fa fa-user" aria-hidden="true"></i> Single
                                            {%else%}
                                            <i class="fa fa-users" aria-hidden="true"></i> Group {{comp.min_members}}-{{comp.max_members}} members
                                            {%endif%}
                                                &#xb7; 
                                                <!-- <i class="fas fa-map-marker-alt" aria-hidden="true" style="color:green;"></i><span style="text-gray-600"> {{comp.location}}</span> -->
                                        </p>
                                        <p class="text-sm text-gray-800">
                                            
                                            <span class="font-normal text-gray-600 text-base">Total prizes worth</span><br>
                                            <span class="font-medium">₹{{comp.prize_worth}}</span>
                                        </p>
                                    </div>
                                    <div class="sm:pb-3 inline-block flex">
                                        <a href="{% url 'registercomp' slug=comp.id %}" class="my-auto"><button
                                            class="orcolor text-white md:ml-5 pt-1 pb-1 pl-4 pr-4 rounded-md font-medium">Register</button></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                </div>
            </span>
        </div>


        <!-- js code -->
        <script>
            var item;
            var heads = "headspan";
            var arrid = "arrow";
            var m = "mod";

            function inversion(id) {
                // console.log($("#" + id).attr("src", "arrow-inverted.png' %}"));
                if ($("#" + id).attr("src") == "{% static 'icons/dropdownbtn.png' %}") {
                    console.log("hello")
                    $("#" + id).attr("src", "{% static 'icons/arrow-inverted.png' %}");
                } else {
                    $("#" + id).attr("src", "{% static 'icons/dropdownbtn.png' %}");
                }
            }
            function mobchange(id) {
                if ($(window).width() < 768) {
                    var txt = $("#" + id).find("span").text();
                    $("#" + heads).text(txt);
                    console.log(txt);
                }
            }
            function changecolor(id) {
                var txt = $("#" + id).find("span").text();
                $("#" + m).text(txt);
                console.log('clicked');
                $("#" + id).css("background-color", "#EE6337");
                $("#" + id).css("color", "white");
                item = id;
                $("#" + arrid).attr("src", "{% static 'icons/dropdownbtn.png' %}");
                if ($(window).width() < 768) {
                    $('.moduleitems').css('display', 'none');
                }
                // $('.moduleitems').css('display','none');
            }

            var element = 'Dance';
            function dropdown() {
                if ($(window).width() > 768) {
                    $('.moduleitems').css('display', 'inline-block');
                } else if (($('.moduleitems').css("display") == "none") && ($(window).width() < 768)) {
                    $('.moduleitems').css('display', 'inline-block');
                } else if (($('.moduleitems').css("display") != "none") && ($(window).width() < 768)) {
                    $('.moduleitems').css('display', 'none');
                } else {
                    $('.moduleitems').css('display', 'none');
                }

            }
            //onload change color of the active button
            window.onload = function() {
                var modulename='{{modulename}}'
                if(modulename.length>0){
                    changecolor(modulename)
                    mobchange(modulename)
                }
                
            };
        </script>
    </body>

    </html>
    {% endblock %}
