{% extends '../basictailwind.html'%}
{%load static%}
{%block title%}Register for {{comp.event_name}} {%endblock%}
{% block body %}
<style>
    input,textarea{
       border: none;
       border-bottom: 1px solid rgb(214, 206, 206);
       margin: 16px 0px;
       width:100%;
   }
   input,textarea:focus{
    outline: none;
    }
    .centered{
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%)
    }
</style>

<body x-data="{ showModal: false}" :class="{'overflow-y-hidden': showModal}">
    <div class="flex" style="background-color: #F3F6F8;">
        {% include "../navbar.html" %}
        <div class="flex">
            <div class="flex-grow">
                <div class="bg-white flex flex-grow" style="background-color: #F3F6F8;">
                    <div class="mx-4 flex-grow">
                        <br>
                        <!-- Content here -->
                        <div class="flex m-1">
                            <div class=" bg-white max-w-4xl rounded-lg w-screen shadow-md">
                                <div>
                                    <div class="py-3 pl-6  text-xl border-b-2 font-normal">Register</div>
                                    <div class="mx-10">
                                        <div class="container">
                                        <form id="add-member-form"> 
                                            <div class="flex flex-col justify-center">
                                                <div
                                                    class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 p-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-white">
                                                    <div class="w-full md:w-1/3 bg-white grid place-items-center">
                                                        <img src="{{comp.image.url}}" class="rounded-xl" />
                                                    </div>
                                                    <div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3">
                                                        
                                                        <h3 class="font-medium md:text-3xl text-xl">{{comp.event_name}}</h3>
                                                        <p class="md:text-lg text-gray-500 text-base">{{comp.module}} &#xb7; <span style="color: #EE6337;text-decoration:none;"><a href="{% url 'viewrules' slug=comp.id %}" target="_blank"><span class="text-xs text-zinc-500 text-amber-600 font-medium">
                                                                View Rules
                                                            </span>
                                                        </a></span></p>
                                                        <p class="md:text-lg text-gray-500 text-base">
                                                            {%if comp.min_members == 1 and comp.max_members == 1 %}
                                                            <i class="fa fa-user" aria-hidden="true"></i> Single
                                                            {%else%}
                                                            <i class="fa fa-users" aria-hidden="true"></i> Group {{comp.min_members}}-{{comp.max_members}} members
                                                            {%endif%}
                                                                &#xb7; 
                                                            <!-- <i class="fas fa-map-marker-alt" aria-hidden="true" style="color:green;"></i><span style="text-gray-600"> {{comp.location}}</span> -->
                                                            
                                                        </p>
                                                        <p class="text-xl text-gray-800">
                                                            
                                                            <span class="font-normal text-gray-600 text-base">Total prizes worth</span><br>
                                                            <span class="font-medium">₹{{comp.prize_worth}}</span>
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-3 mx-auto border border-white bg-white">
                                                <div class="font-normal text-gray-600 text-base">Team Name *</div>
                                                <input type="text" class="w-full" name="teamname" id="teamname" placeholder="Enter Team Name*" required>
                                                <div class="font-normal text-gray-600 text-base">Team Leader *</div>
                                                <span
                                                    class="mx-4 my-2 rounded-full text-white bg-red-500 font-semibold text-sm flex align-center cursor-pointer active:bg-gray-300 transition duration-300 ease w-max">
                                                    <!-- <img class="rounded-full w-14 h-14 max-w-none" alt="A"
                                                    src="{{request.user.img.url}}" /> -->
                                                    <span class="flex items-center px-3 py-2">
                                                    {{request.user.email}}
                                                    </span>
                                                </span>
                                            
                                                <div class="font-normal text-gray-600 text-base">Add members *</div>
                                                
                                                <!-- Chips -->
                                                <div class="flex flex-wrap" id="chip-team"></div>
                                                <div class="py-3 px-6 my-3 border-dotted border-2 font-normal w-full text-center cursor-pointer" @click="showModal = true;modalstart();"id="add_members_old">Add/Remove member(s)</div>
                                             
                                                <div class="font-normal text-gray-600 text-base">Previous Performance(s)</div>
                                                <input type="text" name="link" placeholder="Enter link.." id="link">
                                                <div class="font-normal text-gray-600 text-base">Description</div>
                                                <textarea name="description" cols="40" rows="10" placeholder="Write a suitable caption explaining your performance.." id="description"></textarea>
                                                <button type="submit"
                                                    class="bg-red-600 hover:bg-red-700 text-white inline-block py-2 px-4 rounded shadow-sm font-semibold text-base">Submit</button>
                                                
                                            </div>
                                        </form>

                                        
                                        </div>

                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for adding members -->
    {%include 'competitions/add_member_modal.html'%}
</body>
{%include 'competitions/compreg_scripts.html'%}
{%endblock%}
