{% extends '../basictailwind.html'%}
{% load static %}
{%block title%}Rule Booklet | Alcheringa {%endblock%}
{% block body %}
<link rel="stylesheet" href={% static "css/registration_login_rulebook.css" %}> 

<body>
    <div class="bg-blue-50 flex w-full">
        {% include "../navbar.html" %}
        <div class="rule_back flex-grow">
            <div class="rule_head flex space_bet center_ele" >
                <p class="more_size">Rule Booklet</p>
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            </div>
            <div class="rule_body">
                <!-- <div class="rule_head border_bottom flex space_bet center_ele">
                    <p>Rule Booklet</p>
                    <button class="btn_pdf" onclick="download_file('{{ pdf.event_rules.url }}','Rules of event')">Downoad PDF</button>
                </div> -->
                <div class="rule_wrapper">
                    <div class="rule_content">
                        <div class="rule_content_body">
                            <div style = "overflow: hidden;">
                                <iframe frameborder="0" src="{{ pdf.event_rules.url }}#scrollbar=0&navpanes=0&view=FitH" width="100%;" height="2100px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
<script>
    function download_file(fileURL, fileName) {
link.href = fileURL;
link.download = fileName;
link.dispatchEvent(new MouseEvent('click'));
}
</script>
{% endblock %}