{% extends '../basictailwind.html'%}
{% load static %}
{%block title%}Rule Booklet | Alcheringa {%endblock%}
{% block body %}
<link rel="stylesheet" href={% static "css/registration_login_rulebook.css" %}> 

<body>
    <div class="bg-blue-50 flex w-full">
        {% include "../navbar.html" %}
        <div class="rule_back">
      <div class="rule_head flex space_bet center_ele">
        <p class="more_size">Rule Booklet</p>
        <i class="fa fa-bell-o" aria-hidden="true"></i>
      </div>
      <div class="rule_body">
        <div class="rule_head border_bottom flex space_bet center_ele">
            <p>Rule Booklet</p>
            {%if comp.event_rules.url%}
            <a href="{{comp.event_rules.url}}" download="{{comp.event_name}}"><button class="btn_pdf">Downoad PDF</button></a>
            {%endif%}
        </div>
        <div class="rule_wrapper">
          <div class="color_head  flex">
            <h2>{{comp.event_name}}</h2>
          </div>
          <div class="underlined_border">
   <h3>HOW TO USE PDF FILES ON THE INTERNET</h3>
          </div>
          <div class="rule_content"> 
<div class="rule_content_head">
<p>Viewing PDF Files On-Line</p>
</div>
<div class="rule_content_body">
<p>{{comp.event_desc}}
</p>
          </div>
        </div>
      </div>
    </div>

</body>
<script>
    function download_file(fileURL, fileName) {
link.href = fileURL;
link.download = fileName;
link.dispatchEvent(new MouseEvent('click'));
}
</script>
{% endblock %}