{% extends '../basictailwind.html'%}
{%block title%}Profile | Alcheringa {%endblock%}
{% block body %}
<Style>
    input,textarea{
       border: none;
       border-bottom: 1px solid rgb(214, 206, 206);
       margin: 16px 0px;
   }
   input,textarea:focus{
    outline: none;
    }
</Style>
<body>
	<div class="flex" style="background-color: #F3F6F8;">
		{% include "../navbar.html" %}
		<div class="flex-grow h-screen">
			<div class="flex flex-grow" style="background-color: #F3F6F8;">
                <div class="mx-4 flex-grow">
                    <br>
                    <div class="flex m-1">
                        <div class=" bg-white max-w-4xl rounded-lg w-screen shadow-md">
                            <div >
                                <div class="py-3 pl-6  text-xl border-b-2 font-normal">Edit profile</div>
                                <br>
                                <div class="mx-10">
                                    <div class="container">
                                        <img style="height : 70px; width : 70px; border-radius: 50%;" src="{{request.user.img.url}}" id="dp-set"class="justify-self-start"
                                            alt="profile pic" border="0" class="mx-auto" style="border-radius:9999px;" />
                                        <button class="mx-6 bg-gray-200 rounded-full border-black" onclick="dpupload()" style = "transform:translate(30px,-18px) scale(1.5,1.5)">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path
                                                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                                            </svg>
                                        </button>
                                    </div>
                                    <!-- Hiden dp upload -->
                                    <form method="POST" enctype="multipart/form-data" class="grid grid-cols-2 gap-2 place-content-end md:place-content-center">{% csrf_token %}
                                        <div style="height:0px;overflow:hidden">
                                            {{ form.img }}
                                            
                                        </div>
                                        <br>
                                        
                                        <div>
                                            <div class="font-medium text-xs text-gray-500 text-left">Full name *</div>
                                            {{ form.fullname }}
                                        </div>



                                        <div>
                                            <div class="font-medium text-xs text-gray-500 text-left ">Username *</div>
                                            {{ form.username }}
                                        </div>


                                        

                                        <div>
                                            <div class="pt-6 font-medium text-xs text-gray-500 text-left">Email ID *</div>
                                            {{ request.user.email }}
                                        </div>

                                        <div>
                                            <div class="pt-6 font-medium text-xs text-gray-500 text-left">College *</div>
                                            {{ form.collegename }}
                                        </div>

                                        <div>
                                            <div class="pt-6 font-medium text-xs text-gray-500 text-left">City *</div>
                                            {{ form.city }}
                                        </div>

                                        <div>
                                            <div class="pt-6 font-medium text-xs text-gray-500 text-left">Phone *</div>
                                            {{  form.phone }}
                                        </div>

                                        
                                        <ul class="errorlist" style="color:red">
                                            {% if form.non_field_errors %}
                                            <li>{{ form.non_field_errors }}</li>
                                            {% endif %}
                                            {% for field in form %}
                                            {% if field.errors %}
                                            <ul class="errorlist">
                                                {% for error in field.errors %}
                                                {{ error }}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            {% endfor %}
                                        </ul><br>

                                        <div class="submit">
                                            <input type="submit"
                                                class="bg-red-500 hover:bg-red-700 text-white inline-block py-2 px-4 rounded shadow-sm font-semibold text-base" value="Update details" />
                                        </div>
                                    </form>

                                    <br>
                                </div>
                                <div class="  w-80 border-gray-400 rounded mx-4 m-{5}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
	</div>

</body>
<script>
    function dpupload() {
        $("#id_img").click();
    }
    document.getElementById("id_img").addEventListener('change', (event) => {
        document.getElementById("dp-set").src = URL.createObjectURL(event.target.files[0]);
    });
    //add chip
    function addchip(team){
        $('#chip-team').empty()
        $.each(team, function (i) {
            var templateString = `<span
                id="chip${team[i].id}" class="mx-2 my-2 rounded-full text-white bg-red-500 font-semibold text-sm flex align-center cursor-pointer active:bg-gray-300 transition duration-300 ease w-max">
                <span class="flex items-center px-3 py-2">
                ${team[i].email}
                </span>
                <button type="button" class="bg-transparent hover focus:outline-none" onclick="deletechip('${team[i].id}')">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
                    class="svg-inline--fa fa-times w-3 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 352 512">
                    <path fill="currentColor"
                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                    </path>
                </svg>
                </button>
            </span>`;
            $('#chip-team').append(templateString);
            if(i==team.length-1){
                var templateString2 = `<span @click="showModal = true;modalstart();"
        class="rounded-full text-gray-500 bg-gray-200 font-semibold text-sm flex align-center cursor-pointer active:bg-gray-300 transition duration-300 ease w-max my-auto">
                    <div class="rounded-full w-10 h-10 max-w-none text-center flex align-center justify-center " ><i class="fa fa-plus my-auto" style="font-size:1.2rem; color:black;" aria-hidden="true"></i></div>
                </span>`;
                    $('#chip-team').append(templateString2);
            }
        })
    }

    //delete chip
    function deletechip(id_team){
        for (var i = 0; i < team.length; i++) {
            if (team[i].id === id_team) {
                team.splice(i, 1);
            }
        }
        addchip(team)
        designchip()
    }
    
</script>
{% endblock %}