{% extends '../basictailwind.html'%}
{% load static %}
{%block title%}Register | Alcheringa {%endblock%}
{% block ext_style %}
<link rel="stylesheet" href={% static "css/registration_login_rulebook.css" %}> {% endblock %}

{%block body%}
<style>
    input{
        margin-bottom: 12px;
    }
</style>
<div class="video-background">
    <video autoplay muted loop id="myVideo">
        <source src="{% static "videos/trailer.mp4" %}" type="video/mp4">
    </video>
</div>
<div class="flex center_ele  my-4">
    <img class="logo_img" src={% static "imgs/alcher_logo.png" %} alt="">
</div>
<div class="flex center_ele flex_col">
    <h2 class="heading">Registration Portal</h2>
    <div class="form__wrapper">
        <form class="form_border form__group field py-2" method="POST">
            <div class="border_bottom ">
                <p class="sub-heading fw-5">Sign Up</p>
              
            </div>
            <div class="mt-4 px-4">
                <p class="mb-2">Field marked * are mandatory</p>
                <ul class="font fontfam">
                    {% if form.non_field_errors %}
                    <li>{{ form.non_field_errors }}</li>
                    {% endif %}
                    {% for field in form %}
                    {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="flex flex_col ">
                    {% csrf_token %}
                    {{ form.fullname}}
                    {{ form.username}}
                    {{ form.email}}
                    {{ form.phone}}
                    {{ form.collegename}}
                    {{ form.city}}
                    {{ form.password1}}
                    {{ form.password2}}
                    <div class="flex center_ele">
                        <input type="submit" 
                                 class="btn_register  my-4 btn_sub cursor-pointer hover:bg-red-700 text-white rounded shadow-sm fw-5 font text-base" style="background-color: #EE6337;" value="Sign Up" />

                    </div>
                </div>
                <div class="flex center_ele font  mb-2">
                    <p class="fw-5">Already registered? &nbsp;
                    </p>
                        <a class="fw-5" href="{% url 'login'%}"> Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
